*.obj
*.lastbuildstate
*.tlog
*.idb
*.log
*.pch
*.pdb
UpgradeLog.htm
out/x64/Release_Static/kdlib.lib
out/x64/Release_3.6/targetapp.exe
out/x64/Release_3.6/pykd.pyd
out/x64/Release_3.6/pykd.lib
out/x64/Release_3.6/pykd.exp
out/x64/Release/targetapp.exe
out/x64/Release/pykd_ext_2.0.lib
out/x64/Release/pykd_ext_2.0.exp
out/x64/Release/pykd.dll
out/Win32/Release/targetapp.exe
out/Win32/Release/pykd_ext_2.0.lib
out/Win32/Release/pykd_ext_2.0.exp
out/Win32/Release/pykd.dll
out/Win32/Debug/targetapp.ilk
out/Win32/Debug/targetapp.exe
pykd/x64/Debug_3.6/pykd.res
pykd/x64/Release_3.6/pykd.res
pykd/x64/Release_3.6/pykd_vc120.vcxprojResolveAssemblyReference.cache
pykd_ext/x64/Release/version.res
pykd_ext/x64/Debug/version.res
pykd_ext/Release/version.res
