*.obj
*.lastbuildstate
*.tlog
*.idb
*.log
*.pch
*.pdb
*.ipch
.vs/
packages/
cmake/
UpgradeLog*
out/
pykd/x64/
pykd_ext/x64/
pykd_ext/Release/
pykd-0.3-2013.sdf
pykd-0.3-2013.opensdf
pykd-0.3-2013.v12.suo
kdlibcpp/source/kdlib_vc120.vcxproj.user
pykd-0.3-2013.v12.suo
